# Ignorar archivos temporales
*.log
*.tmp
*.bak

# Ignorar carpetas específicas
#build/
#dist/
#.env/

# Ignorar archivos o carpetas de sistema
Vifm/vifminfo.json
#.DS_Store
#Thumbs.db

# Ignorar archivos específicos
nvim/PowerShellEditorServices.json

# ===============================
# Yazi File Manager
# ===============================
# 1. Logs y estado temporal
yazi/state/

# 2. Archivo de marcadores (guarda rutas C:\Users\... locales) y archivos de prueba
yazi/config/bookmarks

# 3. Temas/Flavors descargados externamente
#yazi/config/flavors/

# 4. Plugins descargados de terceros
yazi/config/plugins/*

# EXCEPCIONES: Plugins a incluir en el repositorio
!yazi/config/plugins/smart-enter.yazi/
!yazi/config/plugins/abrir-url-incognito.yazi/
!yazi/config/plugins/whoosh.yazi/
!yazi/config/plugins/bookmarks.yazi/
!yazi/config/plugins/lazygit.yazi/
